$primary: #212121;
$secondary: #F3F3F3;
$green: #0ADD00;
$light-green: #7bfd74;
$gray-color: #b6b6b6;
$--bs-btn-bg:#0ADD00;
$navbar-dark-active-color: $green;
$navbar-dark-brand-color: $secondary;
$navbar-dark-brand-hover-color: $secondary;
$--bs--nav-link-color: $green;
$btn-bg: $green;

$nav-link-font-weight: 700;


//cards
$card-bg: $primary;
